@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

:root {
    --primary-color: #fff200;
    --primary-light: #fffb99;
    --primary-dark: #e6d900;
    --secondary-color: #000000;
    --secondary-light: #333333;
    --secondary-dark: #1a1a1a;
    --text-dark: #000000;
    --text-light: #333333;
    --background-light: #fffee6;
    --white: #ffffff;
    --transition-speed: 0.3s;
    --border-radius: 12px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: var(--text-dark);
    background-color: var(--white);
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.logo img {
    width: 210px;
}

.Nav_Header {
    background-color: var(--text-dark);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 21px;
}

.nav-left {
    display: flex;
}

.nav-left ul {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 15px;
}

.nav-left ul li {
    list-style: none;
    padding: 0 22px;
    font-weight: 500;
}

.nav-left ul li  a {
    text-decoration: none;
    color: var(--white);
}

.search {
    background: #1F2937;
    padding: 5px 15px;
    border-radius: 10px;
    opacity: 1;
}

.search input {
    outline: none;
    background: transparent;
    border: none;
    width: 280px;
    padding: 10px 15px;
    font-size: 16px;
    color: var(--white);
}

.search-cont {
    display: flex;
    align-items: center;
    gap: 30px;
}


.nav-icons i {
    font-size: 24px;
    padding: 0 10px;
}


/* header ends here */


/* start of main  */

.img-container{
    position: relative; /* Establishes a positioning context */
	text-align: center;
	color: var(--text-dark);
      Height: 50vh;
}

.img-container::before {
    content: ""; /* Required for pseudo-elements */
	 position: absolute; /* Positions the background layer */
    /* position: relative; */
	top: 0;
	left: 0;
	/* right: 0;
	bottom: 0; */
    background-image: url(/assets/bg-img.png);
    width: 100%;
    height: 400px;
    /* Adjust height as needed */
    overflow: hidden;
    /* Ensures no overflow */
    opacity: 0.2;
    z-index: 0;
    display: flex;
}

.img-container .content{
    position: relative; 
	z-index: 1; /* Text appears on top */
	padding: 20px;
    color: var(--text-dark);
}

.back{
    text-align: left;
}

.back a{
    color: var(--text-dark);
    font-size: 24px;
    font-weight: 500;
}